<app-header></app-header>
<main class="home">
  <div class="container">
    <div class="home-text">
      <h2>Welcome to Chatastic</h2>
      <p>Chatastic is a chat application that allows you to communicate with others in real time.
        It's simple and easy to use, and it's perfect for staying connected with friends and family.</p>

    </div>
    <div class="home-image">
      <img src="../../assets/homepage-cat.png" height="360" width="360"/>
    </div>
  </div>
</main>
<app-footer></app-footer>
