<div class="registration-page">
  <div class="card">
    <h1>Create a new account</h1>
    <form>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname" [(ngModel)]="nickname" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" required>
      </div>

      <button type="submit" (click)="register()" class="btn btn-primary">Create Account</button>
    </form>
  </div>
</div>
